<div id="root">
  <header class="header-menu"></header>
  <nav class="side-menu">
    <ul>
      <li><a class="nav-btn" data-index="1"></a></li>
      <li><a class="nav-btn" data-index="2"></a></li>
      <li><a class="nav-btn" data-index="3"></a></li>
      <li><a class="nav-btn" data-index="4"></a></li>
      <li><a class="nav-btn" data-index="5"></a></li>
    </ul>
  </nav>
  <footer>
    <a class="logo"></a>
  </footer>
  
  <section class="page-section home">
    <div class="container">
      <div class="game-logo"></div>
      <h1 class="heading"></h1>
      <h2 class="sub-heading"></h2>
      <a class="btn-play" id="homeBtnPlay"></a>
      <nav class="main-nav-menu">
        <ul>
          <li><a class="nav-btn" data-index="1"></a></li>
          <li><a class="nav-btn" data-index="2"></a></li>
          <li><a class="nav-btn" data-index="3"></a></li>
          <li><a class="nav-btn" data-index="4"></a></li>
          <li><a class="nav-btn" data-index="5"></a></li>
        </ul>
      </nav>
    </div>
  </section>

  <section class="page-section page1">
    <div class="container">
      <div class="stage" id="page1Stage">
      </div>
      <div class="content-box"></div>
      <div class="illustration">
        <div class="girl"></div>
        <div class="umbrella_l"></div>
        <div class="umbrella_r"></div>
      </div>
    </div>
  </section>

  <section class="page-section page2">
    <div class="container"></div>
  </section>

  <div class="overlay" id="overlay" style="display: none;">
    <div class="modal">
      <a class="btn-modal-close"></a>
    </div>
  </div>
</div>
